* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    /* font-family: 'Noto Sans Thai', sans-serif; */
    display: flex;
    justify-content: center;
    min-height: 100vh;
    font-size: 1em;
    letter-spacing: 0.1px;
    text-rendering: optimizeLegibility;
}

main {
    padding: 36px;
}